{% extends "index.html" %}
{% load static %}
{% block head %}
<script type="text/javascript" src={% static "reestr_list/js/add_to_register.js" %}></script>
{% endblock head %}



{% block title %}
    Добавление в реестр
{% endblock title %}

{% block body %}

<div>
    
   
    
    <form method="post">
        {{ formset.management_form }}
        {% csrf_token %}
        {% for form in formset %}
        {{ form.as_p}}
        {% endfor %}
    {% comment %} <table>
        <tr>
            <th>добавить строки</th>
            <th>Номер протокола</th>
            <th>Вид поверки</th>
            <th>Дата поверки</th>
            <th>МПИ</th>
            <th>Действительно до</th>
            <th>Наименование средства измерений</th>
            <th>Модификация</th>
            <th>Владелец СИ, ИНН</th>
            <th>Поверитель</th>
            <th>Место проведения поверки</th> 
            <th>№ ГРСИ</th>
            <th>Зав. №</th>
            <th>Состав СИ</th>
            <th>Методика поверки</th>
            <th>Эталоны</th>
            <th>Температура</th>
            <th>Давление</th>
            <th>Влажность</th>
            <th>Другие параметры</th>
            <th>Диапазон</th>
            <th>Погрешность</th>
            <th>Исполнитель</th>
        </tr>
        {% for form in formset %}
            <tr>
                
                <td>
                    +
                </td>
                <td>
                    {{ form.id_numb }}
                </td>
                <td>
                    {{ form.kind }}
                </td>
                <td>
                    {{ form.date }}
                </td>
                    {{ form.mpi }}
                </td>
                <td>
                    {{ form.until }}
                </td>
                    {{ form.name }}
                </td>
                <td>
                    {{ form.modif }}
                </td>
                    {{ form.owner }}
                </td>
                <td>
                    {{ form.povername }}
                </td>
                <td>
                    {{ form.place }}
                </td>
                <td>
                    {{ form.descr }}
                </td>
                <td>
                    {{ form.number }}
                </td>    
                    
            </tr>
        {% endfor %}
    </table> {% endcomment %}
        <button type="submit">Сохранить</button>
    </form>

</div> 


{% endblock body %}
